# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store

# Docker
*.log
docker-compose.override.yml

data/creditcard.csv

# Ignore large datasets
data/*.csv
